.table-teacher{
  width: 100%;
  text-align:  center;
  border-collapse:collapse;

 
  th{
    border-bottom: #898888 solid 0.5px;
   
    padding: 10px
  }
  tr{
    border-bottom: #898888 solid 0.5px;
    
  }
  td{
    padding: 10px;
  }
}